@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebAplicationProduct.Models.Fabricante>

@{
    ViewData["Title"] = "Listagens de Fabricantes";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FabricanteID" class="btn btn-dark">Edit </a> |
                <a asp-action="Details" asp-route-id="@item.FabricanteID" class="btn btn-dark">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FabricanteID" class="btn btn-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    @Html.PagedListPager(Model, pagina=>Url.Action("Index",new{pagina}))
</div>
